html, * { 
  font-family: "Poppins";
  box-sizing: border-box;
  margin: 0; 
  padding: 0;
  --ocher-green: #799283;
  --dark-green: #135846;
  --lighter-green: #EBF1EF;
  --light-gray: #F8F8F8;
  --red: #E23428;
  --pink: #FFEDEC;
  --gray: #393939;
  --orange: #FF9C3A;
}

body {
  min-width: 1440px;
}

h1, h2, h3, p {
  margin: 0;
}

.main-content {
  width: 100%;
}

.page-container {
  display: flex;
}

button {
  cursor: pointer;
}
